.idea/
Lesson01-Favorite-Toys/T01.01-Exercise-CreateLayout/app/gradle/
Lesson01-Favorite-Toys/T01.01-Exercise-CreateLayout/app/gradlew
Lesson01-Favorite-Toys/T01.01-Exercise-CreateLayout/app/gradlew.bat
Lesson01-Favorite-Toys/T01.01-Exercise-CreateLayout/gradle
ud851-exercises.xlsx
